* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  min-height: 100vh;
  background: #111827;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 400px;
  background: #1f2937;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.auth-card h1 {
  text-align: center;
  color: #6CFF4D;
  margin-bottom: 30px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #6CFF4D;
  color: black;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #55e63c;
}